@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height:100%;
  width:100%;
  font-size:12pt;
  margin:0;
  padding:0;
  font-family:"Segoe UI", Arial, Helvetica, sans-serif;
}

header {
  height:25px;
  width:100%;
  background:url(../images/likes_back.png) repeat-x;
}

#box-wrapper {
  background:#fff;
  -moz-box-shadow:0 0 20px;
  -webkit-box-shadow:0 0 20px;
  box-shadow:0 0 20px;
  padding:10px 0;
  height:100%;
}

#logo {
  width:240px;
}

#web-version-link {
  float: right;
  padding: 10px 10px 0px 10px;
  text-decoration: none;
  color: #eeeeee;
}
#web-version-link:hover {
  border-bottom: 1px dashed #999;
}

#download-box-wrap-background {
  background-color:#ececef;
}

#download-box-wrap, .description-box-wrap {
  width:998px;
  margin:0 auto;
  padding-top:30px;
}

#download-box-wrap .ocarousel {
  width:536px;
  float:left;
  padding-right:30px;
}

#download-box-wrap .ocarousel_window {
  height:330px;
}

#device {
  float:left;
}

#devices {
  float:left;
}

#download-box-wrap #right {
  color:#454545;
}

h1 {
  font-size:1.5em;
  display:block;
  color:#454545;
}

#download-box-wrap p {
  display:block;
  margin-top:50px;
}

#download-button-wrap {
  color:#000;
  padding:30px;
}

#download-button {
  background-image:url(../images/store_icon_blue.png);
  background-size:25px;
  background-position:15px 6px;
  background-repeat:no-repeat;
  color:#000;
  text-decoration:none;
  padding:12px 35px 12px 55px;
  font-size:.95em;
  font-weight:700;
  background-color:#FFF;
}

#download-button:hover {
  background-color: #ffa200;
  color: #ffffff;
}

#download-button:active {
  color: #ffffff;
  background-color: #000000;
}

.demo {
  padding: 5px;
  background: #fff;
  margin-right: 15px;
  -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.18);
  -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.18);
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.18);
  float: left;
}

.footer {
  clear: both;
  background-color:#ececef;
}

.bottom {
  -moz-box-shadow:0 0 20px 10px ;
  -webkit-box-shadow:0 0 20px 10px;
  box-shadow:0 0 20px 10px;
  clear: both;
  height:25px;
  width:100%;
  background:url(../images/likes_bottom.png) repeat-x;
}
